.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 24px;
  height: auto;
  min-height: 65px;
  margin-top: 72px;
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 96px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}