.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 24px;
  height: auto;
  min-height: 65px;
  margin-top: 72px;
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 96px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 740px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  margin: 20px 60px 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 340px;
  }
} .u-section-4 {
  margin-top: 100px;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }
} .u-section-5 {
  margin-top: 100px;
}

.u-section-5 .u-sheet-1 {
  min-height: 284px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    height: 39px;
  }
}